<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" />
    <title>Engine Repo</title>
</head>

<body>
    <h1 id="indexTitle">Engine Repo</h1>
    <h2> Buy or sell an exotic machine with ease</h2>
<nav>
    <form action="/passengerVehicle/new">
        <input class="navi" type="submit" value="ADD NEW" />
      </form>
</nav>

<ul id="index">
        <% for (let passengerVehicle of passengerVehicles) { %>
            <li>
                <h3><%=passengerVehicle.model%></h3>
                <a href="/passengerVehicle/show/<%=passengerVehicle._id%>">
                <img src=<%=passengerVehicle.img %> width="300"/>
                </a>
                <p>$<%=passengerVehicle.price%></p>
                <p><%=passengerVehicle.description%></p>
            </li>
        <% } %>
        <% for (let recreationalVehicle of recreationalVehicles) { %>
            <li>
                <h3><%=recreationalVehicle.name%></h3>
                <a href="/recreationalVehicle/show/<%=recreationalVehicle._id%>">
                <img src=<%=recreationalVehicle.img %> width="300"/>
                </a>
                <p>$<%=recreationalVehicle.price%></p>
                <p><%=recreationalVehicle.description%></p>
            </li>
        <% } %>
       
</ul>
</body>
</html>