<!DOCTYPE html>
<html lang="en">
<head>

  <%- include ('./partials/head.ejs') %>
</head>

<body>
<!-- <div class="navbar fixed-top staticNav">
    <h1 class="header container-fluid">engine.Repo</h1>
    <h2> Buy or sell an exotic machine with ease</h2>
<nav>
    <form action="/passengerVehicle/new">
        <input class="navi" type="submit" value="ADD NEW" />
      </form>
</nav>
</div> -->
<!-- <nav class="navbar fixed-top navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Fixed top</a>
    </div>
  </nav> -->


<div class="row row-cols-1 row-cols-md-2 g-4">
<div class="col">
    <% for (let passengerVehicle of passengerVehicles) { %>
    <div class="card text-white bg-dark mb-3">
      <a href="/passengerVehicle/show/<%=passengerVehicle._id%>">
      <img class="card-img-top" style="height: 550px" src=<%=passengerVehicle.img %> alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title"><%=passengerVehicle.model%></h5>
          <p class="card-text"><%=passengerVehicle.description%></p>
        </div>
        <div class="card-footer">
            <small class="text-white">$<%=passengerVehicle.price%></small>
        </div>
    </div>
    <% } %>
   </a>
</div>
<div class="col">
    <% for (let recreationalVehicle of recreationalVehicles) { %>
    <div class="card bg-dark mb-3">
    <a href="/recreationalVehicle/show/<%=recreationalVehicle._id%>">
      <img class="card-img-top" style="height: 550px" src=<%=recreationalVehicle.img %> alt="Card image cap">
            <div class="card-body">
        <h5 class="card-title"><%=recreationalVehicle.name%></h5>
        <p class="card-text"><%=recreationalVehicle.description%></p>
      </div>
      <div class="card-footer">
        <small class="text-white">$<%=recreationalVehicle.price%></small>
      </div>
    </div>
    </a>
        <% } %>
</div>
 </div> 
</body>
</html>